In [5]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [6]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)

# In Python, the zip() function is used to combine two or more iterables (like lists, tuples, etc.) 
# element-wise into tuples. However, calling zip(10, 20) will result in a TypeError because zip() expects iterable arguments, and 10 and 20 are integers, which are not iterable.

Ramesh 20
Suresh 25
Satish 30

In [2]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Satish', 30)

In [1]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i)

Ramesh
Suresh
Satish

In [10]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(j)

20
25
30

In [13]:
list2=[f'{i,j}' for i,j in zip(names,age)]
list2

["('Ramesh', 20)", "('Suresh', 25)", "('Satish', 30)"]

**Dictionary**
- in the above example names and age both are togther
- we both are together we can pair them
- This can happen through Dictionary
- Dictionary is called as **key-value** pair
- it represents with curely basis : **{key:value}**
-  Ramesh and 20 years are both are pairs : {'Ramesh','20'}
-  if both keys are same it takes the latest value

In [4]:
d1={'Ramesh':20,'Suresh':25,'Satish':30,'Hrushi':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Hrushi': 30}

In [17]:
my_dict = {
    "name": "Alice",                        # String
    "age": 25,                              # Integer
    "hobbies": ["reading", "painting", "cycling"],  # List
    "coordinates": (40.7128, 74.0060),      # Tuple
    "address": {"street": "5th Avenue", "city": "New York", "zip": "10001"},  # Nested Dictionary
    "is_active": True                       # Boolean
}

print(my_dict)

{'name': 'Alice', 'age': 25, 'hobbies': ['reading', 'painting', 'cycling'], 'coordinates': (40.7128, 74.006), 'address': {'street': '5th Avenue', 'city': 'New York', 'zip': '10001'}, 'is_active': True}

In [9]:
my_dict1={'name':'Hrushi'} #string dict
my_dict1
my_dict1={'age':25} #Integere dict
my_dict1
my_dict1={'fruits': ["apple","mango",'cherry']} #dict with list
my_dict1={"coordinates": (40.7128, 74.0060)}  #dict with tuple
my_dict1

{'coordinates': (40.7128, 74.006)}

In [18]:
my_dict={'Ramesh':20,'Ramesh':35}
my_dict

{'Ramesh': 35}

In [20]:
my_dict={'Ramesh':20,'Ramesh':20} #Dict will not allow duplicates
my_dict #in dict keys are not allowed duplicates and values can be duplicate

{'Ramesh': 20}

In [10]:
d8={20:'Ramesh',20:'Suresh'}
d8

{20: 'Suresh'}

In [11]:
d9={True:'true'}
d9

{True: 'true'}

In [24]:
d10={'fruits': ['apple','mango']} #dict with list works
d10

{'fruits': ['apple', 'mango']}

In [25]:
d11={'fruits': ('apple','mango')} #dict with tuple works
d11

{'fruits': ('apple', 'mango')}

- list as keys fails list has mutable behaviour
- tuple as keys workks tuple has imutable behaviour
- in dict keys are very important
- keys doenst change when apply list fails

In [2]:
d13={'Ramesh':10,'Sachin':20,'Ramesh':20} 
d13

{'Ramesh': 20, 'Sachin': 20}

In [3]:
d14={'fruits':{'apple':100,'mango':200,'Guava':100}} #Nested dict
d14

{'fruits': {'apple': 100, 'mango': 200, 'Guava': 100}}

In [4]:
d14={'fruits':{'apple':100}}
d14

{'fruits': {'apple': 100}}

In [6]:
d14={{'apple':100}:'fruits'}
d14  #unhashable type: 'dict'

TypeError: unhashable type: 'dict'

In [21]:
dict1={'apple':30,'cherry':10,'bannana':20}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Bannna',50:'cherry'}
dict1.values()
#Sum
sum=0
for i in dict1.values():
   sum=sum+i
print(sum)
#print(min(dict1.values()))
#print(max(dict1.values()))
#print(sorted(dict1.values()))
#list2=reversed(dict1.values())
#list2
print(max(dict1.values())) #Key
print(max(dict2)) #apple
print(max(dict3)) #50
print(sorted(dict1))
print(list(reversed(dict1)))
len(dict1) #length of dict
#print(ord['c'])
print(ord('a'))
print(ord('A'))

60
30
apple
50
['apple', 'bannana', 'cherry']
['bannana', 'cherry', 'apple']
97
65

In [22]:
for i in dict1:
    print(i)

apple
cherry
bannana

In [50]:
for i in dict1:
    print(dict1[i],end=" ")

30 10 20

In [25]:
dict1={'apple':30,'cherry':10,'bannana':20}
n1=len(dict1)
for i in range(n1):
    print(dict1.key())

AttributeError: 'dict' object has no attribute 'key'

**How to extract the values**
- in dict we have concpet callled key:value pair
- key are very important
- in order to get the values , we need to take keys help

In [58]:
for i in dict1:
    print(f'{i}:',dict1[i])

apple: 30
cherry: 10
bannana: 20

In [61]:
names={'ramesh','Satish','Suresh'}
age={20,10,30}
names={'ramesh':20,'satish':30,'Suresh':40}
for key in names:
    #print(i,names[key])
    value=names[key]
    print(f' {key} age is {value}')

 ramesh age is 20
 satish age is 30
 Suresh age is 40

In [66]:
d={'fruits':['Apple','Banna','Cherry']}
d['fruits'][2]

'Cherry'

In [30]:
d={'fruits':{'Apple':['sweet','sour','green']}} #Nest dic with one List
d['fruits']['Apple'][2]

'green'

In [73]:
d={'fruits':[{'Cost':[50]}]}

d['fruits'][0]['Cost'][0]

50

In [74]:
d={'fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':'None'}]}

In [32]:
d={'fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':'None'}]}
d['Cost'][0]['1kg'][2]

40

In [35]:
d={'fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':'None'}]}
d['Cost'][0]['2kg']

'None'

In [36]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d=d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']
d

{'Shambaji'}

In [ ]:
**How to create a empty dict**
- Now on onwards creation of empty list,strings and dictionary

In [29]:
l1=[]
l1.append(10)
l1.append(20)
l1

[10, 20]

In [30]:
str=''
str='abc'+'efg'
print(str)

abcefg

In [35]:
d1={}
d1['Ramesh']=20
d1['Satish']=30
d1['Sachin']=40
d1

{'Ramesh': 20, 'Satish': 30, 'Sachin': 40}

In [37]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
d={}
for i in names:
    for j in age:
        print(i,j)
        d[i]=j
d

Ramesh 20
Ramesh 25
Ramesh 30
Suresh 20
Suresh 25
Suresh 30
Satish 20
Satish 25
Satish 30

{'Ramesh': 30, 'Suresh': 30, 'Satish': 30}

In [40]:

names=['Ramesh','Suresh','Satish']
age=[20,25,30]
d1={}
for i,j in zip(names,age):
        print(i,j)
        d1[i]=j
d1

Ramesh 20
Suresh 25
Satish 30

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [ ]:
- dict comprehension
{<output> <for loop>}

In [42]:
{f'{i,j}' for i,j in zip(names,age)}

{"('Ramesh', 20)", "('Satish', 30)", "('Suresh', 25)"}

In [45]:
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**mutable vs immutable**
- list are mutable
- dict also mutable
- string  immutable
- tuple  immutable

In [46]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [49]:
# clear(), copy(), keys(), items()- practise today
my_dict={'Sachin':45,'Virat':37,'Rohit':30}
my_dict

{'Sachin': 45, 'Virat': 37, 'Rohit': 30}

In [50]:
my_dict.clear()
my_dict

{}

In [1]:
my_dict={'Sachin':45,'Virat':37,'Rohit':30}
keys=my_dict.keys()
type(keys)

dict_keys

In [10]:
#** convert dict to list **
my_dict={'Sachin':45,'Virat':37,'Rohit':30}
for item in my_dict.items():
    print(list(item),end=" ")

['Sachin', 45] ['Virat', 37] ['Rohit', 30]

In [15]:
#** convert dict to list **
my_dict={'Sachin':45,'Virat':37,'Rohit':30}
keys=my_dict.keys()
keys_list=list(keys)
print(keys_list)
print(keys_list.count('Sachin'))
(type(keys_list),type(keys))

['Sachin', 'Virat', 'Rohit']
1

(list, dict_keys)

- in order to convert dictionary to list
- first we need to seperate keys and values
- then apply list type casting
 - list to string ==> using join
 -  string to list ==> using split 
-    list to dict ==> using zip
-  dict to list ==> using type casting

In [12]:
my_dict={'Sachin':45,'Virat':37,'Rohit':30}
values=my_dict.values()
values_list=list(values)
print(values_list)
print(values_list.count(37))

[45, 37, 30]
1

In [8]:
my_dict={'Sachin':45,'Virat':37,'Rohit':30}
items=my_dict.items()
items_list=list(items)
items_list

[('Sachin', 45), ('Virat', 37), ('Rohit', 30)]

In [35]:

input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
fname=[]
lname=[]
cname=[]
d={}
for player in input.split(";"):   
        i1 = player.index('.')
        i2 = player.index('@')
        i3 = player.index('.',i1+1)
        print(i1)
        print(i2)
        print(i3)
        first_name = player[:i1]
        fname.append(first_name)
        second_name = player[i1+1:i2]
        lname.append(second_name)
        company_name = player[i2+1:i3]
        cname.append(company_name)
        # print("First Name",first_name)
        # print("Second Name",second_name)
        # print("company_name",company_name)
print(fname)
print(lname)
print(cname)
d['FirstName']=fname
d['Secondname']=lname
d['Companyname']=cname
d
#for i,j,k in zip(fname,lname,cname):

5
11
15
5
12
15
2
8
12
['virat', 'rohit', 'ms']
['kohli', 'sharma', 'dhoni']
['rcb', 'mi', 'csk']

{'FirstName': ['virat', 'rohit', 'ms'],
 'Secondname': ['kohli', 'sharma', 'dhoni'],
 'Companyname': ['rcb', 'mi', 'csk']}

In [36]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
- 'pop'
- 'popitem'

In [44]:
my_dict={'apple':100, 'bannna':50,'cherry':60}
my_dict
#my_dict.pop('apple')
print(my_dict)
my_dict.popitem()

{'apple': 100, 'bannna': 50, 'cherry': 60}

('cherry', 60)

In [43]:
l1=[10,20,30]
l1.remove('Ramesh')

10

- **pop** in dict similar analogy in **remove** list
- **popitem** in dict similar analogy in **pop** in list

In [48]:
my_dict={'apple':100, 'bannna':50,'cherry':60}
value=my_dict.get('cherry') #getting value based on key
print(value)
my_dict['apple'] #Key as index

60

100

In [2]:
#**update**
d1={'apple':100, 'bannna':50,'cherry':60}
d2={'tomato':20, 'potato':40,'caroot':80}
d1.update(d2)
d1

{'apple': 100,
 'bannna': 50,
 'cherry': 60,
 'tomato': 20,
 'potato': 40,
 'caroot': 80}

In [4]:
l1=['apple', 'bannna','cherry']
l2=['tomato','potato','caroot']
#d1.update(d2)
l1.extend(l2)
l1

['apple', 'bannna', 'cherry', 'tomato', 'potato', 'caroot']

 - **update** in dict analogy in list **extend**

In [8]:
d1={'apple':100, 'bannna':50,'cherry':60}
d1.setdefault('guava',70)
d1

{'apple': 100, 'bannna': 50, 'cherry': 60, 'guava': 70}

In [9]:
d1={'apple':100, 'bannna':50,'cherry':60}
d1.setdefault('guava')
d1

{'apple': 100, 'bannna': 50, 'cherry': 60, 'guava': None}

In [10]:
- **setdefault** in dict append similar analogy in list **append**
- **dict** always key value pair combination and it never index operations 
- thats why we do not have find index and find methods

SyntaxError: invalid syntax (169108064.py, line 1)

In [11]:
d1={'apple':100, 'bannna':50,'cherry':60}
d1.fromkeys(d1.keys())

{'apple': None, 'bannna': None, 'cherry': None}

In [3]:
d2={}
list_names=['Satish','Ramesh','Suresh']
d3=d2.fromkeys(list_names,'NareshIt')

{'Satish': 'NareshIt', 'Ramesh': 'NareshIt', 'Suresh': 'NareshIt'}

In [5]:
d2={}
list_names=['python']
d3=d2.fromkeys('python')
d3

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- **dict** doesnt have count , since **dict** does not allow duplicates
 - **string** , **list** and tuple has count
 -  strings has find method , but list doenst have

In [ ]:
- take word document