**list comprehension**

list comprehension is way to write the list operations in single line
- when we we will apply loop and if - else conditions then code compilcation becomes slow
- which means it takes much time
- inorder to avoid the time complexity we wil use the list comprehension
- List comprehension is single line code

In [1]:
list2=[]
for i in range(10):
    list2.append(i)
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list2=[i for i in range(10)] [<output>  <for loop>]
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#Q3) input=['hyd','bengaluru','pune','mumbai']
    #output=['Hyd','Bengaluru','Pune','Mumbai']

 # input=['hyd','bengaluru','pune','mumbai']
 # output=['HYD','BENGALURU','PUNE','MUMBAI']
# input=['hyd','bengaluru','pune','mumbai']
# for city in input:
#     print(city.capitalize())


input=['hyd','bengaluru','pune','mumbai']
output=[city.upper() for city in input]  #[<output>  <for loop>]
output

Hyd
Bengaluru
Pune
Mumbai

In [11]:
#Q3) input=['hyd','bengaluru','pune','mumbai']
    #output=['Hyd','Bengaluru','Pune','Mumbai']
input=['hyd','bengaluru','pune','mumbai']
output=[char.capitalize() for char in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [13]:
#input=['hyd','bengaluru','pune','mumbai'] 
#multoply indexes list 
input=['hyd','bengaluru','pune','mumbai']
for i in input:
    print(input.index(i)*10)

0
10
20
30

In [17]:
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
output

[0, 10, 20, 30]

In [21]:
input=['hyd','bengaluru','pune','mumbai']
tot=0
output=[tot+input.index(i) for i in input]
sum(output)

6

In [22]:
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [2]:
sum=0
[sum:=sum+i for i in range(1,11)]
sum

55

- warlus operator --input.index(i)

In [36]:
#Case2 for condition and if condition
even_list=[]
for i in range(1,10):
    if(i%2==0):
        even_list.append(f'even:{i}')
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [2]:
[f'even:{i}' for i in range(1,10) if i%2==0]

['even:2', 'even:4', 'even:6', 'even:8']

In [3]:
 input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']
for char in input:
    if '#' in char:
        print(char)

ben#galuru
mu#mbai

In [4]:
 input=['hyd','ben#galuru','pune','mu#mbai']
oput=[char for char in input if '#' in char]
oput

['ben#galuru', 'mu#mbai']

In [5]:
oput=[char for char in input if '#' not in char]
oput

['hyd', 'pune']

- #Case1 : for loop [<output> <for loop>)
- #Case2 : for loop and if condition [<ouput> <for loop> <if condition>]
- #Case3 : for loop and if and else condition [<if out> <if cond> else <else out> <for loop>]
- #Case4 : for loop and if and elif condition and else [else <if out> <if cond> else <else out> <for loop>]
- in List comprehension we do not have **elif** representation
- elif also represent as **else+if**
- in elif

In [11]:
output=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]
output

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [15]:
# >80 a rade between (60,85) grade b and <60  is c grade
list=[45,55,65,75,85,95]
for i in list:
    if i>80:
        print(f'{i} :A grade')
    elif i>60:
        print(f'{i}: B grade')
    else:
        print(f'{i}: C grade')

45: C grade
55: C grade
65: B grade
75: B grade
85 :A grade
95 :A grade

In [20]:
grades = [f"{i}: A grade" if i > 80 else f"{i}: B grade" if i > 60 else f"{i}: C grade" for i in [45, 55, 65, 75, 85, 95]]

# Print each grade
for grade in grades:
    print(grade)

#output

45: C grade
55: C grade
65: B grade
75: B grade
85: A grade
95: A grade

In [ ]:
sum=0
sum[sum+i:

In [14]:
#distance between two points
import math
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
#find the distance between l2 and all other points from l1
# which is the maxmimum distance give me that
l1=[10,20]
l2=[30,40]
d1=l2[0]-l1[0]
d1
d1_sqaure=math.pow(d1,2)
math.sqrt(d1_sqaure)
d2=l2[1]-l1[1]
d2_sqr=math.sqrt(math.pow(d2,2))
d2_sqr
#math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

#(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [6]:
#Distance between two points
# import math
# l1=[[10,20],[30,20],[40,50],[0,0]]
# l2=[10,15]
# d1=[]
# for i in range(len(l1)):
#   for j in range(len(l1[i])):
#       d1.append(math.sqrt(math.pow(l2[0]-l1[i][0],2)+math.pow(l2[1]-l1[i][1],2)))
      
# d1

SyntaxError: invalid non-printable character U+00A0 (752824486.py, line 9)

In [12]:
import math
l1=[10,20]
l2=[30,40]
for i in l1:
    for j in l2:
        print(j-i)

20
30
10
20

In [ ]:
#how to sort the list and find out the max and min of list