In [ ]:
- Basic representations
- strings will use in quotes
- List elements is in square brackets
- for strings ====str
- we will say string

In [1]:
list1=[1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [3]:
type(list1)

list

In [4]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [6]:
list3=['A','B','C',1,2,3,4]
list3

['A', 'B', 'C', 1, 2, 3, 4]

In [7]:
list4=[True,'A','B',4,6,7,20.2]
list4

[True, 'A', 'B', 4, 6, 7, 20.2]

In [8]:
list5=[True,'A','B',4,6,7,20.2,5+10j]
list5

[True, 'A', 'B', 4, 6, 7, 20.2, (5+10j)]

In [9]:
list6=[False,'Apple','Bananna',4,6,7,20.2,5+10j]
list6

[False, 'Apple', 'Bananna', 4, 6, 7, 20.2, (5+10j)]

In [11]:
list8=[10,20,30,['Apple','Banana']]
list8

[10, 20, 30, ['Apple', 'Banana']]

In [10]:
list7=[10,10,10]
list7

[10, 10, 10]

In [15]:
list10=[_]
list10

[[[[10, 20, 30, ['Apple', 'Banana']]]]]

In [ ]:
list7=[10,10,10]
list7

In [33]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','Banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
#perform all inbuilt functions
#len max min sum sorted reversed
print(len(list1))
print(len(list2))
print(len(list3))
print("List1 sum {}", sum(list1))
#print("List2 sum {}", sum(list2)) # will not work heer
#print("List3 sum {}", sum(list3)) # will not work here
print("List1 sorted {}", sorted(list1))
print("List2 sorted {}", sorted(list2)) #
#print("List3 sorted {}", sorted(list3)) # will not work here
print("List1 reversed {}", list(reversed(list1)))
print("List2 reversed {}", list(reversed(list2))) #
print("List3 reversed {}", list(reversed(list3))) # 
print("List1 min {}", min(list1))
#print("List2 min {}", min(list2)) # will not work heer
#print("List3 min {}", min(list3)) # will not work here
print("List1 max {}", max(list1))
print("List2 max {}", max(list2)) # will not work heer
#print("List3 max {}", max(list3)) # will not work here

5
4
9
List1 sum {} 112
List1 sorted {} [2, 5, 10, 20, 75]
List2 sorted {} ['Apple', 'Banana', 'Cherry', 'apple']
List1 reversed {} [75, 5, 2, 20, 10]
List2 reversed {} ['Banana', 'Cherry', 'apple', 'Apple']
List3 reversed {} ['banana', 'Cherry', 'apple', 'Apple', 75, 5, 2, 20, 10]
List1 min {} 2
List1 max {} 75
List2 max {} apple

In [35]:
for i in reversed(list1):
    print(i,end=' ')

75 5 2 20 10

In [36]:
for i in reversed(list2):
    print(i,end=' ')

Banana Cherry apple Apple

In [37]:
for i in reversed(list3):
    print(i,end=' ')

banana Cherry apple Apple 75 5 2 20 10

In [39]:
sorted(list1,reversed=True)

TypeError: 'reversed' is an invalid keyword argument for sort()

- concatenation

In [48]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','Banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
list1+list2
print(list1+list2)
print(list1-list2)
print(list1*list2)
print(list1/list2)

[10, 20, 2, 5, 75, 'Apple', 'apple', 'Cherry', 'Banana']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

- index

In [60]:
#-6  -5 -4   -3   -2    -1
#0   1   2    3    4    5
#10, 20, 30, 'A', 'B', 'C'
list1=[10,20,30,'A','B','C']
for i in range(list1):
    for

The positive index of 10 is 0
The negative index of 10 is -6
The positive index  10 : and negative index  -6 for 0
The positive index of 20 is 1
The negative index of 20 is -5
The positive index  20 : and negative index  -5 for 1
The positive index of 30 is 2
The negative index of 30 is -4
The positive index  30 : and negative index  -4 for 2
The positive index of A is 3
The negative index of A is -3
The positive index  A : and negative index  -3 for 3
The positive index of B is 4
The negative index of B is -2
The positive index  B : and negative index  -2 for 4
The positive index of C is 5
The negative index of C is -1
The positive index  C : and negative index  -1 for 5

In [69]:
list1=[[10,20]]
list2=[10,20]
list3=[10,[20]]
list4=[10,20,2,5,75,['Apple','apple','Cherry','banana']]
print(len(list1))
print(len(list2))
print(list1)
print(list2)
print(list4[5][2])

1
2
[[10, 20]]
[10, 20]
Cherry

6
2

In [ ]:
list1=['A', ['Apple','B',['Bananan','C','Cherry',

In [78]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
print(len(list1))
print(len(list1[0]))
print(len(list2[0]))
list1[1][2][2][2][0]

2
1

'Dragon fruite'

In [83]:
list1=['India',['Kashmir',['India',['Cricket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [109]:
list1=['Orange',['Nagapur',['MH',['Shivaji',['Shabaji',['Vikki']]]]]]
print(len(list1))
print(len(list1[1]))
print(len(list1[1]))
list1[1][1][1][1][1][0]

2
2
2

'Vikki'

In [7]:
str='python'
list=['p','y','t','h','o','n']
'p' in str
'p' in list

True

**range vs in**

- when ever we have to use with index then go for range
- when we have to use with only element go for in

**mutable vs immutable**
List are mutable

In [5]:
list1=[100,200,300,400]
list1[0]=20
list1

[20, 200, 300, 400]

In [11]:
l1=[10,20,30,40,'A','B','C','D','E','apple','banna']
l1[:] #[10,20,30,40,'A','B','C','D','E','apple','banna']
l1[::] #[10,20,30,40,'A','B','C','D','E','apple','banna']
l1[::-1] # ['banna', 'apple', 'E', 'D', 'C', 'B', 'A', 40, 30, 20, 10]
l1[2:10:2]  #[30,'A', 'C','E']
l1[2:10:-2] #No output empy []
l1[2:-10:2] #No output empy []
l1[-2:10:2]
l1[2:-10:-2]
l1[-2:10:-2]
l1[-2:10:2]
l1[-2:-10:-2]
l1[10:-2:2]
l1[-10:2:-2]
l1[-10:-2:-2]

[]

In [9]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

--clear
-- copy
-- count

In [23]:
list1=['A','B','C']
list6=list1
list2=list1.copy()
count=list1.count('A')
list5=list1.clear()
print(list5)
print("Count of 'A' in first list",count)
list6=list2
print(list6)

None
Count of 'A' in first list 1
['A', 'B', 'C']

In [26]:
l1=[10,20,30,40,'A','B','C','D','E','apple','banna',10]
l1.count(10)

2

In [30]:
**append**
- append is very important method in the entire list
- in our life we will use this method very very frequently
- append means adding element at the last
- always recall if you see any where multiple values means most of time we will keep those values in a list

SyntaxError: invalid syntax (3512873396.py, line 1)

In [36]:
l1=[10,20,30]
l1.append('apple')
l1.append('grapes')
print(l1)

[10, 20, 30, 'apple', 'grapes']
None

In [37]:
l1=[10,20,30]
l1.append('apple','banna') #Error here
l1

TypeError: list.append() takes exactly one argument (2 given)

In [38]:
l1=[10,20,30]
l1.append(['apple','banna']) #Error here
l1

[10, 20, 30, ['apple', 'banna']]

**apend method used to store the ouputs**

In [44]:
l1=[]
for i in range(1,6):
    l1.append(i)
l1

[1, 2, 3, 4, 5]

In [51]:
#wap ask the user enter three numbers using random
#and swaure and store in list
import random
list1=[]
for i in range(3):
    num=random.randint(1,100)
    #print(num)
    sq=num*num
    #print(f'{num} : {num*num}')
    list1.append(f'{num} : {num*num}')
    #list1.append(sq)
list1

['48 : 2304', '44 : 1936', '35 : 1225']

In [55]:
#Q2)list1=[10,47,53,12,27]
list1=[10,47,53,12,27]
even_list=[]
odd_list=[]
for i in list1:
    if(i%2==0):
        even_list.append(i)
    else:
        odd_list.append(i)
print(f'Even List : {even_list}')
print(f'Odd List : {odd_list}')

Even List : [10, 12]
Odd List : [47, 53, 27]

In [ ]:
#Q3) input=['hyd','bengaluru','pune','mumbai']
    #output=['Hyd','Bengaluru','Pune','Mumbai']

 # input=['hyd','bengaluru','pune','mumbai']
 # output=['HYD','BENGALURU','PUNE','MUMBAI']

In [63]:
#Q11) take a string find the most repeated word from string
str='Hai Hai how are you you Hai'
list=str.split(' ')
most_rep=[]
non_rep=[]
for char in list:
    if char in most_rep:
         most_rep.append(char)
    else:
        most_rep.append(char)
print(most_rep)
#print(most_rep)

['Hai', 'Hai', 'how', 'are', 'you', 'you', 'Hai']

In [1]:
l1=[10,20,30,40,'A','B','C','D','E','apple','banna']
l1[2:10:2]

# 1. l1[2:10:2]
# Syntax: list[start:stop:step]

# Start index (2) → Begins at index 2 (30).
# Stop index (10) → Stops before index 10 (apple).
# Step (2) → Picks every second element.
# Extracting elements:

# Start from index 2 → 30
# Move 2 steps to index 4 → 'A'
# Move 2 steps to index 6 → 'C'
# Move 2 steps to index 8 → 'E'
# Stop at index 10 (not included).

[30, 'A', 'C', 'E']

In [2]:
l1=[10,20,30,40,'A','B','C','D','E','apple','banna']
l1[2:10:-2]  #empy list no output
# 2. l1[2:10:-2]
# Start index (2) → Starts at index 2 (30).
# Stop index (10) → Stops before index 10 (apple).
# Step (-2) → Moves backwards by 2 steps.
# Now, observe:

# We are trying to move backwards (-2 step) from index 2 (30).
# But index 2 is smaller than 10, and we are moving in reverse, which is not possible.

[]

In [ ]:

l1=[10,20,30,40,'A','B','C','D','E','apple','banna']
l1[2:-10:2]

Let's analyze the slicing operation step by step:

### Given list:
```python
l1 = [10, 20, 30, 40, 'A', 'B', 'C', 'D', 'E', 'apple', 'banna']
```
**Indexing positions:**
```
 0   1   2   3   4   5   6   7   8     9      10
[10, 20, 30, 40, 'A', 'B', 'C', 'D', 'E', 'apple', 'banna']
```
**Negative Indexing:**
```
 -11  -10  -9  -8  -7  -6  -5  -4  -3    -2     -1
[ 10,  20, 30, 40, 'A', 'B', 'C', 'D', 'E', 'apple', 'banna']
```

### Slicing Operation: `l1[2:-10:2]`
- **Start index (`2`)** → Starts from index `2` (`30`).
- **Stop index (`-10`)** → Refers to index `-10` (which is `20`).
- **Step (`2`)** → Moves forward with a step of `2`.

#### Logic:
- The slice moves **forward** starting at index `2` (`30`).
- The stop index is `-10`, which corresponds to **index `1`** (`20`).
- Since slicing moves **forward** but index `2` (`30`) is **already beyond index `-10` (`20`)**, the slice is invalid.

### **Result:**
```python
[]
```
The output is an **empty list** because the start index (`2`) is **already ahead** of the stop index (`-10`), making forward slicing impossible.

** extend **

In [7]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
print(l1+l2)
print(l1)
print(l2)
print("l1 will over write the if we use extend")
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D', 'E']
l1 will over write the if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']

** index **

In [12]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
l1.index(4)

3

- in strings we have index and find
- in lists we have only index
- same as string concepts

In [13]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
i1=l1.index(4)
l1.index(4,i1+1)

8

In [ ]:
- pop vs remove vs del() inbui

- diff between append and insert

In [19]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
l2=[20.4,10.8]
id1=l1.index('Apple')
l1.insert(id1,200)
l1
print(l1)

[1, 2, 3, 4, 5, 200, 'Apple', 'Banana', 'Cherry', 4, 5]

In [21]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
l1.pop(5)
l1

[1, 2, 3, 4, 5, 'Banana', 'Cherry', 4, 5]

In [22]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
l1.remove('Apple')
l1

[1, 2, 3, 4, 5, 'Banana', 'Cherry', 4, 5]

In [24]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
del(l1[6]) #del is inbuilt function #if you want to element pop is thee based on index , 
#remove is there based on value and del inbuilt function based on the index only
l1

[1, 2, 3, 4, 5, 'Apple', 'Cherry', 4, 5]

In [3]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
del(l1) # complete list well delete
l1

NameError: name 'l1' is not defined

In [4]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
del l1[6]
l1

[1, 2, 3, 4, 5, 'Apple', 'Cherry', 4, 5]

** reverse -- reversed **
-- reverse is a method
-- reversed is in built function

In [1]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
l1.reverse() #inplace
#l1

In [10]:
l1=[1,2,3,4,5,'Apple','Banana','Cherry',4,5]
l1=reversed(l1)
list(l1)

[5, 4, 'Cherry', 'Banana', 'Apple', 5, 4, 3, 2, 1]

In [9]:
l1=[1,2,3,4,5,10,11]
l1.sort(reverse=True)
l1

[11, 10, 5, 4, 3, 2, 1]

In [12]:
l1=[1,2,3,4,5,10,11]
l1=reversed(l1)
list(l1)

[11, 10, 5, 4, 3, 2, 1]

- tuple

In [4]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']