In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [4]:
print(30)
print(20)
print(10)

30
20
10

In [5]:
print(10),print(20)

10
20

(None, None)

In [6]:
10,20

(10, 20)

In [7]:
print(a,b)

10 20

In [9]:
print(30,'Nareshit','Hyd')
# 3 values will come

30 Nareshit Hyd

In [19]:
num1=200
num2=300
add=num1+num2
#The addition 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("The addition of",num1,"and",num2, "is",add)
print("The addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
The addition of 200 and 300 is 500
The addition of 200 and 300 is 500

In [15]:
name='pyhton'
age=10
city='hyd'
print("my name is",name,"Iam",age,"years old and came from",city)

my name is pyhton Iam 10 years old and came from hyd

**format method**

In [18]:
name='pyhton'
age=10
city='hyd'
print("my name is {} Im {} years old and came from {}")
print("my name is {} Im {} years old and came from {}".format(name,age,city)) #order very imporrtant here

my name is {} Im {} years old and came from {}
my name is pyhton Im 10 years old and came from hyd

In [35]:
num1=100
num2=200
num3=300
add=num1+num2
sub=num1-num2
mult=num1*num2
div=num1/num2
avg=(num1+num2+num3)/3
print("========================ADDITION===========================")
print("The addition of {} and {} is {}".format(num1,num2,add))
print("========================SUBSTRACTION===========================")
print("The substraction of {} and {} is {}".format(num1,num2,sub))
print("========================MULTIPLICATION===========================")
print("The multiplication of {} and {} is {}".format(num1,num2,mult))
print("========================DIVISION===========================")
print("The divison of {} and {} is {}".format(num1,num2,div))
print("========================AVERAGE===========================")
print("The average of {},{},{} is: {}".format(num1,num2,num3,avg))
print("========================f string : means formatted method===========================")
print(f"The addition of {num1} and {num2} is {add}") #f string: means formatted string method

========================ADDITION===========================
The addition of 100 and 200 is 300
========================SUBSTRACTION===========================
The substraction of 100 and 200 is -100
========================MULTIPLICATION===========================
The multiplication of 100 and 200 is 20000
========================DIVISION===========================
The divison of 100 and 200 is 0.5
========================AVERAGE===========================
The average of 100,200,300 is: 200.0
========================f string : means formatted method===========================
The addition of 100 and 200 is 300

In [49]:
#f string: means formatted string method**
num1=100
num2=200
num3=300
add=num1+num2
sub=num1-num2
mult=num1*num2
div=num1/num2
avg=(num1+num2+num3)/3
print("========================ADDITION===========================")
print(f"The addition of  {num1} and {num2} is {add}")
print("========================SUBSTRACTION===========================")
print(f"The substraction of {num1} and {num2} is {sub}")
print("========================MULTIPLICATION===========================")
print(f"The multiplication of {num1} and {num2} is {mult}")
print("========================DIVISION===========================")
print(f"The divison of {num1} and {num2} is {div}")
print("========================AVERAGE===========================")
print(f"The average of {num1},{num2},{num3} is: {avg}")
print("========================f string : means formatted method===========================")
print(f"The addition of {num1} and {num2} is {add}") #f string: means formatted string method

========================ADDITION===========================
The addition of  100 and 200 is 300
========================SUBSTRACTION===========================
The substraction of 100 and 200 is -100
========================MULTIPLICATION===========================
The multiplication of 100 and 200 is 20000
========================DIVISION===========================
The divison of 100 and 200 is 0.5
========================AVERAGE===========================
The average of 100,200,300 is: 200.0
========================f string : means formatted method===========================
The addition of 100 and 200 is 300

**round**

In [ ]:
# print()
#  type()
# int()
# float()
# str()
# bool()
# round()
# CTR+A and to comment entire code
#CTR+/

In [44]:
round(10.77777)

11

In [45]:
round(10.77777,2)

10.78

In [46]:
round(10.77777,3)

10.778

In [47]:
print(round(10.77777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [53]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg2=round(avg,2)
print(avg2)
print(round(avg,3))

20.33
20.333

**The Multiple print statements in single line format**

**end operator**

In [55]:
print(10,end=" ")
print(20)

10 20

In [56]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [57]:
print(10,end=" ")
print(20,end="==>")
print(30)

10 20==>30

In [58]:
print('hello',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you')

hello how are you

**I have multiple values in a single statmenet**
**I want print them with some seperation**
**sep operator**

In [59]:
print(10,20,30,sep='====>')

10====>20====>30

In [60]:
print(10,20,30,sep=' ')

10 20 30

In [64]:
# WAP take the radius of a circle and calculate area of the cirlce
#var: radius var:pi=3.14
#formulae: pi*radius*radius
#print the answers using f string and format
print("=================Calculation of radius of circle=====")
radius=5.0
pi=3.14
area=pi*radius*radius
print(f"The area of circle with radius {radius} is :{area}")

=================Calculation of radius of circle=====
The area of circle with radius 5.0 is :78.5

In [66]:
print("=================Area calculation of right angled triangle with breadth and height=====")
#WAP take breadth and height of a right angle triangle 
#Calculate the area
#var : breadth # var : height
#formulae: 0.5 * breadth * height
breadth=5.0
height=4.0
area=0.5*breadth*height
print(f"The area of right angled triangle  with breadth {breadth} and height {height} is : {area}")

The area of right angled trinagle  with breadth 5.0 and height 4.0 is : 10.0

In [71]:
print("=============Calculation of Total Bill amount including the tip amount==============")
#WAP take the bill amount and tip amount
# Calculate the total bill
#var : Bill amount : var: tip amount
#formuale : Bill amount + tip amount
bilamt=2547
tipamt=200
totbillamt=bilamt+tipamt
print(f"The total bill amount calculated with both Bill amount {bilamt} and the tip amount {tipamt} is {totbillamt}")

=============Calculation of Total Bill amount including the tip amount==============
The total bill amount calculated with both Bill amount 2547 and the tip amount 200 is 2747

In [72]:
print("=============WAP to calculate area of rectangle with length and breadth==============")
#WAP take the length and breadth of rectangle calculate the area
#var :length: var: breadth
#formuale : length*breadth
length=7.0
breadth=5.0
arearect=length*breadth
print(f"Area of rectangle with length {length} and breadth {breadth} is : {arearect}")

=============WAP to calculate area of rectangle with length and breadth==============
Area of rectangle with length 7.0 and breadth 5.0 is : 35.0

In [1]:
int=10
print(int)

10

In [ ]:
**input **
- in the above we  provided the value
- input is inbuilt function
- using user input the use can provide value

In [2]:
input

In [5]:
input()

 python

'python'

In [11]:
b=input()

 10

In [12]:
type(b)

str

In [13]:
b

'10'

In [18]:
n1=input() #n1=100
n2=input() #n2=200
n3=input() #n3=300

 100
 200
 300

In [16]:
n1,n2,n3

('100', '200', '300')

In [21]:
n1=input("enter the number1: ")
n2=input("enter the number2: ")

enter the number1:  100
enter the number2:  200

In [23]:
n1=input("enter the number1: ") #n1='100'
n2=input("enter the number2: ") #n2='200'
n1+n2 # '100'+'200'='100200'

enter the number1:  500
enter the number2:  600

'500600'

**input values by default string values**

In [30]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("engter a string3:")
str1+str2+str3

enter a string1:  apple
enter a string2:  fruit
engter a string3:  is

' apple fruit is'

In [1]:
n1=int(input("enter the number1: ")) #n1='100'
n2=int(input("enter the number2: ")) #n2='200'n1
n1+n2

enter the number1:  300
enter the number2:  400

700

In [2]:
n1=input("enter the number1: ") #n1='100'
n2=input("enter the number2: ") #n2='200'n1
int(n1)+int(n2)

enter the number1:  700
enter the number2:  800

1500

In [5]:
n1=float(input("enter the number1: ")) #n1='100'
n2=float(input("enter the number2: ")) #n2='200'n1
n1+n2

enter the number1:  10.5
enter the number2:  20.5

31.0

**eval**
- eval means evaluate
- it is related maths family
- which means it will work only number representation of strings
- it will not works om english letters
- eval will convert the respective data type which is user enter
- if  user enter 10 in quotes it will convert into 10
- if uset enter 10.5 in quotes int coverts into 10.5

In [7]:
n1=eval(input("enter the input num1: "))
n2=eval(input("enter the input num2: "))
n1+n2

enter the input num1:  900
enter the input num2:  500

1400

In [10]:
n1=eval(input("enter the input num1: "))
n2=eval(input("enter the input num2: "))
n1+n2

enter the input num1:  900
enter the input num2:  800

1700

In [11]:
eval('10'),eval('10.5')

(10, 10.5)

In [14]:
n1=input("enter the input num1: ")
n2=input("enter the input num2: ")
eval(n1)+eval(n2)

enter the input num1:  100
enter the input num2:  200

300

In [16]:
print("====================Calculate avarge of three numbers from user input==================")
# 1)wap ask the user enter 3 numbers n1,n2,n3 from ketboard
# calculate average
a=eval(input("Enter the number1 :"))
b=eval(input("Enter the number2 :"))
c=eval(input("Enter the number3 :"))
avg=(a+b+c)/3
print(f"Average of three numbers is : {avg}")

====================Calculate avarge of three numbers from user input==================

Enter the number1 : 10
Enter the number2 : 20
Enter the number3 : 50

Average of three numbers is : 26.666666666666668

In [19]:
# 2)wap ask the user enter name age city
# print my name is python im 10 years old and came from hyd
str1=input("Enter the user name : ")
str2=eval("Enter the user age : ")
str3=input("Ente the user city : ")
print('my name '+str1+' Im '+str2+' years old'+' and came from '+str3)

Enter the user name :  python
Enter the user age :  10
Ente the user city :  hyd

my name python Im 10 years old and came from hyd

In [23]:
# 3)wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format
radius=eval(input("Enter the radious of circle "))
area=3.14*radius*radius
print(f"The radius of circle is  {area}")

Enter the radious of circle  20

The radius of circle is  1256.0

In [25]:
# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh
breadth=eval(input("Enter the breadth of  right angle triangle "))
height=eval(input("Enter the height of  right angle triangle "))
reactarea=0.5*breadth*height
print(f"the area of  right angle triangle is :{reactarea}")

Enter the breadth of  right angle triangle  6
Enter the height of  right angle triangle  4

the area of  right angle triangle is :12.0